###  Análise CSV 
---

- Inicialmente importei as bibliotecas Pandas, que será usada para carregar, manipular e tratar os dados. Para ler o arquivo e armazená-lo no DataFrame (df), utilizei a biblioteca Pandas e fiz a análise inicial dos dados.

In [1]:
import pandas as pd

- Fazendo a leitura do arquivo, armazenando no DataFrame e exibindo as 5 primeiras linhas:

In [2]:
df = pd.read_csv(
    "movies.csv",
    sep='|',
    encoding='utf-8',
    na_values='\\N'  
)

df.head()

,id,tituloPincipal,tituloOriginal,anoLancamento,tempoMinutos,genero,notaMedia,numeroVotos,generoArtista,personagem,nomeArtista,anoNascimento,anoFalecimento,profissao,titulosMaisConhecidos
0,tt0000009,Miss Jerry,Miss Jerry,1894.0,45.0,Romance,5.3,200,actress,Miss Geraldine Holbrook (Miss Jerry),Blanche Bayliss,1878.0,1951.0,actress,tt0000009
1,tt0000009,Miss Jerry,Miss Jerry,1894.0,45.0,Romance,5.3,200,actor,Mr. Hamilton,William Courtenay,1875.0,1933.0,actor,"tt0021535,tt0000009,tt0020355,tt0020403"
2,tt0000009,Miss Jerry,Miss Jerry,1894.0,45.0,Romance,5.3,200,actor,Chauncey Depew - the Director of the New York ...,Chauncey Depew,1834.0,1928.0,"actor,writer","tt1076833,tt0490842,tt0000009,tt4484306"
3,tt0000502,Bohemios,Bohemios,1905.0,100.0,NaN,4.2,14,actor,NaN,Antonio del Pozo,NaN,NaN,actor,tt0000502
4,tt0000502,Bohemios,Bohemios,1905.0,100.0,NaN,4.2,14,actor,NaN,El Mochuelo,NaN,NaN,actor,tt0000502

- Informações da base (tipos de dados, linhas não nulas, número de entradas):

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045161 entries, 0 to 1045160
Data columns (total 15 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     1045161 non-null  object
 1   tituloPincipal         1045161 non-null  object
 2   tituloOriginal         1045161 non-null  object
 3   anoLancamento          1044967 non-null  float64
 4   tempoMinutos           934144 non-null   float64
 5   genero                 1006281 non-null  object
 6   notaMedia              1045161 non-null  float64
 7   numeroVotos            1045161 non-null  int64
 8   generoArtista          1045161 non-null  object
 9   personagem             874211 non-null   object
 10  nomeArtista            1045161 non-null  object
 11  anoNascimento          652168 non-null   float64
 12  anoFalecimento         275565 non-null   float64
 13  profissao              1028550 non-null  object
 14  titulosMaisConhecidos  1036594 non-null  object
dtypes: float64(5), int64(1), object(9)
memory usage: 119.6+ MB

- Conhecendo as dimensões do DataFrame:

In [4]:
df.shape

(1045161, 15)