Análise inicial
__________________________________________________________________________________________________
Inicialmente importei as bibliotecas Pandas, que será usada para carregar, manipular e tratar os dados. Para ler o arquivo e armazená-lo no DataFrame (df), utilizei a biblioteca Pandas e fiz a análise inicial dos dados.

In [2]:
import pandas as pd

- Fazendo a leitura do arquivo e armazenando no DataFrame:

In [3]:
df = pd.read_csv('nomes.csv')

- Visualizando melhor as primeiras linhas para entender um pouco mais sobre as colunas e como os dados estão organizados:

In [4]:
df.head()

       nome sexo  total   ano
0  Jennifer    F  54336  1983
1   Jessica    F  45278  1983
2    Amanda    F  33752  1983
3    Ashley    F  33292  1983
4     Sarah    F  27228  1983

- Conhecendo as dimensões do DataFrame:

In [5]:
df.shape

(1825433, 4)

- Informações da base (tipos de dados, linhas não nulas, número de entradas):

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825433 entries, 0 to 1825432
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   nome    object
 1   sexo    object
 2   total   int64
 3   ano     int64
dtypes: int64(2), object(2)
memory usage: 55.7+ MB